/*@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter.woff2') format('woff2'),
         url('../fonts/Inter.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}*/



html {
	background-color: #f5d4ee;
	font-family: Inter, "Inter V", "Inter Medium", "Inter V Medium", "Segoe UI", sans-serif;
}
main {
	width: min(45em, 90%);
	text-align: center;
	margin: auto;
}
p {
	font-size: 20px;
	font-weight: 500;
}
p.small {
	font-size: 12px;
	font-weight: 500;
}
h1 {
	font-size: 42px;
	font-weight: 200;
	color: #6c1d45;
}
hr {
	border-style:none;
	border-top: 1px solid black;
}