/*@font-face {
    font-family: 'InterTHE';
    src: url('../fonts/Inter.woff2') format('woff2'),
         url('../fonts/Inter.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}*/



html {
	background-color: #f5d4ee;

	font: 20px sans-serif;
	font: 20px "Segoe UI";
	font: 20px "Inter"; 
	font: 20px "Inter V";
	font: 20px "Inter";

}
main {
	width: min(45em, 90%);
	text-align: center;
	margin: auto;
}
p.small {
	font: 12px sans-serif;
	font: 12px "Segoe UI";
	font: 12px "Inter"; 
	font: 12px "Inter V";
	font: 12px "Inter";
}
h1 {
	font: 42px sans-serif;
	font: 42px "Segoe UI Semibold";
	font: 42px "Inter"; 
	font: 42px "Inter V Medium";
	font: 42px "Inter Medium";
	font: 42px "Sussy";
	color: #6c1d45;
}
hr {
	border-style:none;
	border-top: 1px solid black;
}