:root {
	--font: "Inter", "Inter V", "Segoe UI", sans-serif;
	--headingfont: "Inter Medium", "Inter V Medium", "Inter", "Inter V", "Segoe UI Semibold", "Segoe UI", sans-serif;
}
html {
	background-color: var(--bg);
	font: 20px var(--font);
	color: var(--text);
}
main {
	width: min(45em, 90%);
	text-align: center;
	margin: auto;
}
p.small {
	font: 12px var(--font);
}
h1 {
	font: 42px var(--headingfont);
	color: var(--heading);
}
h2 {
	font: 24px var(--headingfont);
	color: var(--heading);
}
a {
	color: var(--heading);
}
hr {
	border-style:none;
	border-top: 1px solid black;
}