div.row, div.sus {
	display:flex;
	flex-direction: row;
	flex-wrap:wrap;
}
div.row, div.row div {
	border: 2px solid #fff0ad;
	padding: 5px;
	border-radius: 10px;
	margin: 5px;
}
div.row div {
	border: 2px solid #F1D1C8
}
div.row div div {
	border: 2px solid #E2B3E4
}

div.row{
	margin: 15px 5px
}
div.row div h1 {
	margin: 15px;
}
html {
	background-color: #d494ff;
	color:#330547
}
div.row div {
	flex-grow: 1;
}
div.sus span {
	flex-grow: 1;
	text-align: center;
}
h1#formative {
	font-size: 45px;
	margin: 25px 15px 20px 15px;
}