@font-face {
    font-family: 'Unifont';
    src: url("../fonts/UnifontMedium.woff2") format("woff2");
    unicode-range: U+0-FFFF
    font-weight: normal;
    font-style: normal;
    font-display: swap;

@font-face {
    font-family: 'Unifont↑';
    src: url("../fonts/UnifontMedium↑.woff2") format("woff2");
    unicode-range: U+10000-2FFFF
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
pre {
	font-smooth: never;
	-webkit-font-smoothing : none;
	font-family: Unifont, "Unifont↑";
	font-size: 26px;
	line-height: 100%;
}